/* Wolf Martin Cs-125h-lab-7 8/26/2025 V5.3 */
/*Color palette
 #ffffff- whitesmoke
 #fae900- bright yellow
 #fa8e00- dark yellow
 #000031- dark blue
 #181363- dark navy
 #52527e- grey kinda blue aswell
 #ffea00cc- bright yellow (hover)
 #020252- almost black
*/
* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: starFont;
    src: url('fonts/le-murmure.ttf');
}
/* reset & base styles */
html {
    background-image: url(images/starsbackground.jpg);
    background-position: center;
    scroll-behavior: smooth;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial', sans-serif;
    color: #ffffff;
    padding: .5em;
    max-width: 1000px;
    margin: 1em auto;
}

/* ====== generic anchor pseudo-classes that affect all links regardless of parent ====== */
a:link {
    color: #fae900;
    text-decoration: none;
}
a:hover, a:focus {
    color: #fad400;
    text-decoration: underline;
}
a:visited {
    color: #bdb005b6;
}

/* ====== Plain Element Selectors that affect all regardless of parent selectors ====== */
p {
    text-align: left;
    font-size: 110%;
}
dl {
 letter-spacing: .05em;
}
dt dl {
    font-size: 130%;
    padding-bottom: .5em;
}
address {
    font-style: italic;
    line-height: 1.5;
}
/* ====== figure span ====== */
/*figure a span is the little icon to the link*/
figure a span{
    right: .2em;
    bottom: .2em;
    position: absolute;
    color: whitesmoke;
    font-size: 115%;
    transition: 0.2s ease-in-out;
}
a span:hover {
    background-color: #fae900;
    color: #000031;
    transform: translateY(-2px) scale(1.1);
}
a span:not(figure a span) {
    right: 1.2em;
    bottom: 1.2em;
    position: fixed;
    border: #52527e .1em solid;
    color: whitesmoke;
    background-color: #181363;
    font-size: 115%;
    transition: 0.2s ease-out;
    padding: .3em;
}
a span:hover:not(figure a span):not(ul li a span) {
    background-color: #fae900;
    color: #000031;
    transform: translateY(-2px) scale(1.1);
}

/* ====== header, footer ====== */
header, footer {
    background-image: linear-gradient(to right, #181363, #52527e, black, #52527e, #181363);
}
/*header*/
header {
    text-align: center;
    border: #52527e .3em solid;
    border-radius: .3em;
    margin-bottom: 1em;
}
header h1 {
    font-family: starFont, arial;
    text-align: center;
}
.masked-text {
    font-size: 5em;
    font-weight: bolder;
    color: transparent;
    background-image: url('images/fontcolorbackground.jpg'); 
    background-size: 200%; /* Enlarged for smooth animation */
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-background 5s infinite alternate linear;
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* ====== Navigation bar ====== */
nav {
    padding: .5em 0;
    border: #52527e .3em solid;
    background-color: #181363;
    border-radius: .3em;
    margin-bottom: 1em;
}
 nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
 }
 nav ul li {
    margin: 0 2em;
 }
 nav ul li a:link  {
    font-size: 1.5em;
    font-variant: small-caps;
    margin-right: 0;
    letter-spacing: .01em;
 }

/* ====== Aside (sidebar Indexpage) ====== */
aside{
    flex-basis: 0;
    flex-grow: 1;
    background-color: #181363;
    border:#52527e solid .1em;
    margin-top: .5em;
    padding: .5em 0;
    max-height: fit-content;
}
aside h2 {
    text-align: center;
    font-size: 150%;
    letter-spacing: .3em;
    text-shadow: .1em .1em 0px rgb(82, 82, 82);
    border-bottom: .1em solid #52527e;
    margin-top: .05em;
}
aside p{
    font-size: 1em;
    padding-left: .5em;
    padding-top: .5em;
}
 aside img {
    display: block;
    width: 80%;
    height: auto;
    margin: 1em auto;
    padding: 0.1em;
    transition: transform 0.2s ease-out;
}
aside img:hover {
    transform: scale(1.1);
}
#aboutme aside img {
    display: block;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    width: 80%;
    height: auto;
    margin: 1em auto;
    padding: 0.1em;
}
aside article {
    background-color: #000031;
    padding: 0 1em;
}
/* ====== Main Content ====== */
main {
    display: flex;
    gap: 10px;
}
main h2 {
    text-align: center;
    font-size: 180%;
    margin-bottom: .5em;
}
main p {
    text-indent: 1em;
}
/*styles for section nested in main*/
 main section {
    flex-basis: 0;
    flex-grow: 3;
    background-color: #000031;
    border-radius: .3em;
}
/*styles for articles nested in section nested in main*/
main section article {
    background-color: #000031;
    padding: 1em;
    border-radius: 8px;
    border: .1em solid #52527e;
    display: flex;
    flex-direction: column;
}
 section article h2 {
    text-align: center;
    font-size: 200%;
    margin: .5em 0;
}
section article dl {
    margin: .1em 0;
    padding: .3em .4em;
}
section article dt, section article dd {
    padding-bottom: .5em;
}
section article dl dt {
 font-size: 130%;
}

section article dd {
    font-size: 110%;
    font-style: italic;
    padding-left: .5em;
}

section article img {
    padding-bottom: .5em;
}

/* ====== Gallery & Figure ====== */
section article figure {
 width: 80%;
 margin: 2em auto;
 background-color: black;
 border: .1em solid #000000;
 padding: .5em;
 position: relative;
 transition: 0.2s ease-out;
}
section article figure img{
 width: 100%;
 height: 50%;
}
section article figure:hover {
 border: .1em solid #ffffff;
}
section article figcaption {
 padding: 3em 1em;
 font-size: 1em;
 text-align: center;
}
/*styles for last article in section containing instagram link*/
section article:last-of-type {
    background-color: #000031;
    margin-top: .5em;
}
section article:last-of-type img {
    width: 20%;
    margin: .5em auto;
    transition: ease-out 0.2s;
}
section article:last-of-type img:hover {
    filter: hue-rotate(30deg);
    width: 21%;
}

/* ====== The Other Pages Styles ====== */
/*galleryid (wide layout)*/
 #gallery{
    flex-basis: 0;
    flex-grow: 3;
}
/*Aboutmeid (aside on left layout)*/
 #aboutme{
    display: flex;
    gap: 10px;
 }
#aboutme img {
    max-width: 80%;
    align-self: center;
    border: #52527e .1em solid;
}

 #aboutme aside{
   flex-basis: 0;
    flex-grow: 1;
 }
 #aboutme section{
    flex-basis: 0;
    flex-grow: 3;
 }
/*footer info*/
footer {
 margin-top: .5em;
 padding:  1em 0;
 text-align: center;
 clear: both;
}
footer p {
 font-size: 80%;
 text-align: center;
}