/*Header info*/
header {
    font-family: 'Franklin Gothic Medium';
}
/*Body Info*/
body {
    background-color:rgb(24, 19, 99);
    font-family: sans-serif;
    color: whitesmoke;
}
h2{
    font-size: 25px;
}
/*Gallery photo's*/
.gallery{
    display: inline-block;
    border: 1px solid hsl(0, 0%, 0%);
    margin: 5px;
    background-color: rgb(72, 0, 139);
    width: 200px;
}
.gallery .description{
    padding: 18px;
    text-align:center;
    font-size: medium;
    font-family:fantasy;
}
.gallery:hover{
    border: 1px solid hsl(0, 0%, 100%);
}
.gallery img{
    width: 100%;
    height: auto;
}
/*Links*/
a {
    color: rgb(189, 149, 235);
    text-decoration: none;
    
}
/*Other*/
li::first-letter{
    font-size: 17px;
}
/*footer info*/
footer {
    text-align: center;
    font-family: Georgia, serif;
    
}
